.row {
    width: 0.3;
    height: 0.7;
    display: flex;
}

.col, .col-2, .col-3 {
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
    flex: 1;
}

.row1 {
    width: 0.3;
    height: 0.7;
    display: flex; 
}
.row2 {
    width: 0.4;
    height: 0.6;
    display: flex; 
}